body{
	/*background-image:url("backgroundNoel.jpg");
	background-repeat: no-repeat;
	background-size:cover;*/
	background-color:#000000;
}

h1, h2, h3, li, p{
	text-align:center;
    font-color:#FFFFFF;
}

h1,h2,h3{
	font-family: 'Roboto', serif;
}

ul{
	list-style:none;
    padding:10px;
    margin:0;
}

li{
	width:60%;
	background-color:#999999;
	margin-left:20%;
	margin-bottom:10px;
	padding:10px;
	font-size:20px;
}

li.winners{	
	background-color:#31a74c;
	padding:10px;
}

#prizeDiv{
	font-size:20;
	margin-top:20px;
	background-color:#31a74c;
	width:30%;
	margin-left:35%;
	padding:10px;
}

#Axie{
	width:30%;
}

#Axie img{
	width:100%;
}


